@import "./base.scss";

html.dark {
  --el-color-primary: #059669 !important;

  --el-color-primary-light-9: #57534e !important;

  --el-border-color-base: #57534e !important;
  --el-text-color-regular: #e2e8f0 !important;
  --el-text-color-primary: text-slate-200 !important;
  --el-bg-color: #474648 !important;
  --el-color-white: #1e1e1f !important;
  --el-border-color-lighter: #474648 !important;
  --el-border-color-light: #474648 !important;

  --el-popover-bg-color: #292524 !important;
}
